@charset "utf-8";

#hjfr-navbar-section { background-color: white; padding-top: 10px !important; padding-bottom: 10px !important; }
#hjfr-nav-group { cursor: pointer; }
#hjfr-nav-group > span.nav-link { padding-left: 20px; font-size: 20px; }

.hjfr-main-blank { margin-top: 2rem; margin-bottom: 2rem; }

.hjfr-group-text-color { color: white; }
.hjfr-group-text-color-green { color: #53898a; }
.hjfr-group-text-color-gray { color:#777; }
.hjfr-group-text-bold { font-weight: bold; }

.hjfr-disuse-section-img-box { margin: 0 auto; }
.hjfr-disuse-section-img { text-align: center; width: 100%; }

.hjfr-slide-background-color { background-color: #dddddd; }
.hjfr-slide-background-color .swiper-slide { background-color: #dddddd; }

.swiper-container { width: 80%; height: auto; }
.swiper-slide { text-align: center; display: flex; align-items: center; justify-content: center; }
.swiper-slide img { width: 70%; height: 70%; max-width: 100%; max-height: 100%; }
.swiper-pagination-bullet-active { background-color: #287c7d; }
.swiper-button-prev, .swiper-button-next { color: grey;}
.hjfr-slide-title-box { text-align: center; color: #287c7d; }
.hjfr-slide-title-box * { font-weight: bold; }

.swiper-button-prev.swiper-button-grey,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23afafaf'%2F%3E%3C%2Fsvg%3E");
}
.swiper-button-next.swiper-button-grey,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23afafaf'%2F%3E%3C%2Fsvg%3E");
}

.swiper-pagination { text-align: center; margin: 0 auto; width: 100%; left: 0; }
.swiper-pagination span { display: inline-block !important; margin: 12px 4px 4px 4px; }

.hjfr-group-main-text-company { font-size: 2.4rem; margin-bottom: 0 !important; }
.hjfr-group-main-text-business { font-size: 4.6rem; margin-bottom: 0 !important; }
.hjfr-group-main-text-desc { font-size: 1.4rem; margin-bottom: 0 !important; }

.hjfr-group-item-text-title { font-size: 4rem; margin-bottom: 0 !important; }
.hjfr-group-item-text-conts { font-size: 2rem; margin-bottom: 0 !important; }
.hjfr-group-item-text-img-title { font-size: 2.4rem; margin-bottom: 0 !important; }
.hjfr-group-item-text-img-desc { font-size: 1.4rem; margin-bottom: 0 !important; }


/* 불용자재 - disuse */
#hjfr-disuse-section-1 { background-image: url("../imgs/sub/disuse/1.jpg"); background-size: cover; }
#hjfr-disuse-section-2 { background-image: url("../imgs/sub/disuse/2.jpg"); background-size: cover; }

/* #hjfr-disuse-section-3 { margin: 0 auto; }
#hjfr-disuse-section-3 * { text-align: center; } */

#hjfr-disuse-section-4 { background-image: url("../imgs/sub/disuse/4.jpg"); background-size: cover; }

/* #hjfr-disuse-section-5 { margin: 0 auto; }
#hjfr-disuse-section-5 * { text-align: center; } */

#hjfr-disuse-section-6 { background-image: url("../imgs/sub/disuse/6.jpg"); background-size: cover; }

/* #hjfr-disuse-section-7 { margin: 0 auto; }
#hjfr-disuse-section-7 * { text-align: center; } */



/* 윤활유 - oil */
#hjfr-oil-section-1 { background-image: url("../imgs/sub/oil/1.jpg"); background-size: cover; }

/* .hjfr-oil-section-img-box { padding: 0; }
.hjfr-oil-section-img { width: 100%; margin: 0; }
.hjfr-oil-section-img-comment-wrap { position: relative; }
.hjfr-oil-section-img-comment-box { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); } */

.hjfr-oil-section-img-box { padding: 0; width:50%;}
.hjfr-oil-section-img { width: 100%; margin: 0; }
.hjfr-oil-section-img-box,
.hjfr-oil-section-img-comment-wrap {display:Table-cell; width:50%; vertical-align:middle; }
.hjfr-oil-section-img-comment-box {padding:10px; box-sizing:border-box; }
#hjfr-oil-section-2 .row,
#hjfr-oil-section-3 .row,
#hjfr-oil-section-4 .row {margin:0; display:table; table-layout:fixed; width:100%; box-sizing:border-box;}

#hjfr-oil-section-3 { background-image: url("../imgs/sub/oil/3.jpg"); background-size: cover; }
#hjfr-oil-section-5 { background-image: url("../imgs/sub/oil/5.jpg"); background-size: cover; }



/* 목재 펠릿 - wood */
#hjfr-wood-section-1 { background-image: url("../imgs/sub/wood/1.jpg"); background-size: cover; }

/* .hjfr-wood-section-img-box { padding: 0; }
.hjfr-wood-section-img { width: 100%; margin: 0; }
.hjfr-wood-section-img-comment-wrap { position: relative; }
.hjfr-wood-section-img-comment-box { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); } */

.hjfr-wood-section-img-box { padding: 0; width:50%;}
.hjfr-wood-section-img { width: 100%; margin: 0; }
.hjfr-wood-section-img-box,
.hjfr-wood-section-img-comment-wrap {display:Table-cell; width:50%; vertical-align:middle; }
.hjfr-wood-section-img-comment-box {padding:10px; box-sizing:border-box; }

#hjfr-wood-section-3 { background-image: url("../imgs/sub/wood/3.png"); background-size: cover; padding: 0; }
#hjfr-wood-section-3-backimg { width: 100%; display: none; }
#hjfr-wood-section-3-text { color: white; }

#hjfr-wood-section-2 .row,
/* #hjfr-wood-section-3 .row, */
#hjfr-wood-section-4 .row {margin:0; display:table; table-layout:fixed; width:100%; box-sizing:border-box;}

/* 운송 사업 - lng */
.container-fluid {padding:0;}
#hjfr-lng-section-1 { background-image: url("../imgs/sub/lng/1.jpg"); background-size: cover; }
#hjfr-lng-section-2 { background-image: url("../imgs/sub/lng/2.jpg"); background-size: cover; }

.hjfr-lng-section-img-box { padding: 0; width:50%;}
.hjfr-lng-section-img { width: 100%; margin: 0; }
#hjfr-lng-section-3 .row,
#hjfr-lng-section-4 .row {margin:0; display:table; table-layout:fixed; width:100%; box-sizing:border-box;}
.hjfr-lng-section-img-box,
.hjfr-lng-section-img-comment-wrap {display:Table-cell; width:50%; vertical-align:middle; }
.hjfr-lng-section-img-comment-box {padding:10px; box-sizing:border-box; }

#hjfr-lng-section-5 { background-image: url("../imgs/sub/lng/5.jpg"); background-size: cover; }
#hjfr-lng-section-6 .row { margin: 0;}
#hjfr-lng-section-7 { background-image: url("../imgs/sub/lng/7.jpg"); background-size: cover; }


/* 태양광 사업 - sun */
#hjfr-sun-section-1 { background-image: url("../imgs/sub/sun/1.jpg"); background-size: cover; }
#hjfr-sun-section-2 { background-image: url("../imgs/sub/sun/2.jpg"); background-size: cover; }
/* .hjfr-sun-section-img-box { padding: 0; }
.hjfr-sun-section-img { width: 100%; margin: 0; }
.hjfr-sun-section-img-comment-wrap { position: relative; }
.hjfr-sun-section-img-comment-box { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); } */

.hjfr-sun-section-img-box { padding: 0; width:50%;}
.hjfr-sun-section-img { width: 100%; margin: 0; }
.hjfr-sun-section-img-box,
.hjfr-sun-section-img-comment-wrap {display:Table-cell; width:50%; vertical-align:middle; }
.hjfr-sun-section-img-comment-box {padding:10px; box-sizing:border-box; }
#hjfr-sun-section-3 .row,
#hjfr-sun-section-4 .row {margin:0; display:table; table-layout:fixed; width:100%; box-sizing:border-box;}

.hjfr-sun-section6-img-box { padding: 0; }
.hjfr-sun-section6-img { width: 100%; margin: 0; }
.hjfr-sun-section6-img-comment-wrap { position: relative; }
.hjfr-sun-section6-img-comment-box { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; }

#hjfr-sun-section-7 { background-image: url("../imgs/sub/sun/7.jpg"); background-size: cover; }


/* 수처리 사업 - water */
#hjfr-water-section-1 { background-image: url("../imgs/sub/water/1.png"); background-size: cover; }

#hjfr-water-section-2 { height: 16rem; position:Relative;}
.bussiness_info_list {position:Absolute; left:0; top:-46px; width:100%; text-align:center; }
    .bns_info_list {display:inline-flex; align-items:stretch; width:100%; max-width:1070px;}
        .bns_il_inner {display:inline-block; width:33.3%; padding:0 1.5rem; box-sizing:border-box;}
            .bns_il_cont {display:inline-block; text-align:center; position:relative; width:100%; max-width:278px; height:100%; padding-top:135px; }
                .bns_icon {display:block; position:Absolute; left:0; top:0; width:100%; height:135px; text-align:center;}
                    .bns_icon img {display:inline-block; max-width:100%;}
            .bns_text_box {display:block; margin:0; padding:1.5rem 1.5rem 1rem; width:100%; height:100%; box-sizing:border-box; border:1px solid #d2d2d2; border-width:0 1px 1px; border-top:2px solid #237171; background-color:#fff; box-shadow:15px 7px 15px -5px rgba(0,0,0,.5); text-align:left; line-height:1.3em; letter-spacing:-0.02em;}
                .bns_text_title {display:block; color:#237171; font-size:1.4rem; margin-bottom:1rem; line-height:1.2em;}
                .bns_text_cont {padding-left:3px; font-size:1.1rem; color:#666; margin-bottom:0.8rem;}

.hjfr-water-section-img-box { padding: 0; }
.hjfr-water-section-img { width: 100%; margin: 0; }
.hjfr-water-section-img-comment-wrap { position: relative; }
.hjfr-water-section-img-comment-box { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

#hjfr-water-section-3 { padding: 0; }
#hjfr-water-section-4 { background-image: url("../imgs/sub/water/4.jpg"); background-size: cover; }

@media (max-width: 380px) {
  .hjfr-group-main-text-business { font-size: 2.4rem !important; }
  .hjfr-group-item-text-title { font-size: 1.8rem; }
  .hjfr-group-item-text-img-title { font-size: 1.2rem; }  
}

@media (max-width: 480px) {
  .hjfr-group-main-text-business { font-size: 3rem; }
  .hjfr-group-item-text-title { font-size: 1.8rem; }
  .hjfr-group-item-text-img-title { font-size: 1rem; }

  .hjfr-sun-section6-img-comment-box { margin-left: 1rem; }
}

/* xs */
@media (max-width: 576px) {
  .hjfr-group-main-text-company { font-size: 1.6rem; }
  .hjfr-group-main-text-business { font-size: 3.4rem; }
  .hjfr-group-main-text-desc { font-size: 1rem; }
  
  .hjfr-group-item-text-title { font-size: 1.8rem; }
  .hjfr-group-item-text-conts { font-size: 0.8rem; }  

  .hjfr-group-item-text-img-title { font-size: 1.2rem; margin-left: 0.2 !important; margin-right: 0.2rem !important; }
  .hjfr-group-item-text-img-desc { font-size: 0.8rem; margin-left: 0.2 !important; margin-right: 0.2rem !important; }

  /* .swiper-container { width: 384px; height: 288px; margin-left: 0; margin-right: 0; } */
  .swiper-container { width: 100%; }
  .swiper-button-prev, .swiper-button-next { display: none; }

  .hjfr-sun-section6-img-comment-box { margin-left: 1.4rem; }
}

/* sm */
@media (min-width: 576px) {
  .hjfr-group-main-text-company { font-size: 1.8rem; }
  .hjfr-group-main-text-business { font-size: 3.6rem; }
  .hjfr-group-main-text-desc { font-size: 1.2rem; }

  .hjfr-group-item-text-title { font-size: 2.4rem; }
  .hjfr-group-item-text-conts { font-size: 0.8rem; }

  .hjfr-group-item-text-img-title { font-size: 1.6rem; margin-left: 0.2rem !important; margin-right: 0.2rem !important; }
  .hjfr-group-item-text-img-desc { font-size: 0.8rem; margin-left: 0.2rem !important; margin-right: 0.2rem !important; }

  /* .swiper-container { width: 512px; height: 336px; margin-left: auto; margin-right: auto; } */
  .swiper-container { width: 100%; }
  .swiper-button-prev, .swiper-button-next { display: none; }

  .hjfr-sun-section6-img-comment-box { margin-left: 1.6rem; }
}

/* md */
@media (min-width: 768px) {
  .hjfr-group-main-text-company { font-size: 2rem; }
  .hjfr-group-main-text-business { font-size: 4rem; }
  .hjfr-group-main-text-desc { font-size: 1.2rem; }

  .hjfr-group-item-text-title { font-size: 1.8rem; }
  .hjfr-group-item-text-conts { font-size: 1.2rem; }

  .hjfr-group-item-text-img-title { font-size: 1.8rem; margin-left: 0.4rem !important; margin-right: 0.4rem !important; }
  .hjfr-group-item-text-img-desc { font-size: 1rem; margin-left: 0.4rem !important; margin-right: 0.4rem !important; }

  /* .swiper-container { width: 512px; height: 336px; margin-left: auto; margin-right: auto; } */
  .swiper-container { width: 100%; }
  .swiper-button-prev, .swiper-button-next { display: block; }

  .hjfr-sun-section6-img-comment-box { margin-left: 2rem; }
}

/* lg */
@media (min-width: 992px) {
  .hjfr-group-main-text-company { font-size: 2.4rem; }
  .hjfr-group-main-text-business { font-size: 4.6rem; }
  .hjfr-group-main-text-desc { font-size: 1.4rem; }

  .hjfr-group-item-text-title { font-size: 3.6rem; }
  .hjfr-group-item-text-conts { font-size: 1.6rem; }

  .hjfr-group-item-text-img-title { font-size: 2.2rem; margin-left: 8rem !important; margin-right: 8rem !important; }
  .hjfr-group-item-text-img-desc { font-size: 1.2rem; margin-left: 8rem !important; margin-right: 8rem !important; }

  .swiper-container { width: 80%; height: auto; margin-left: auto; margin-right: auto; }
  .swiper-button-prev, .swiper-button-next { display: block; }

  .hjfr-sun-section6-img-comment-box { margin: 0; left: 50%; }
}

/* xl */
@media (min-width: 1200px) {
  .hjfr-group-main-text-company { font-size: 2.4rem; }
  .hjfr-group-main-text-business { font-size: 4.6rem; }
  .hjfr-group-main-text-desc { font-size: 1.4rem; }

  .hjfr-group-item-text-title { font-size: 4rem; }
  .hjfr-group-item-text-conts { font-size: 2rem; }

  .hjfr-group-item-text-img-title { font-size: 2.4rem; margin-left: 8rem !important; margin-right: 8rem !important; }
  .hjfr-group-item-text-img-desc { font-size: 1.4rem; margin-left: 8rem !important; margin-right: 8rem !important; }

  .swiper-container { width: 80%; height: auto; margin-left: auto; margin-right: auto; }
  .swiper-button-prev, .swiper-button-next { display: block; }

  .hjfr-sun-section6-img-comment-box { margin: 0; left: 50%; }
}


/* 모바일 제어 */
@media screen and (max-width:720px) {
  .hjfr-lng-section-img-box {background-repeat:no-repeat;background-position:center center; background-size:cover;}
  .hjfr-lng-section-img-box img {display:none !important;}
  #hjfr-lng-section-6-img { display: block !important; }

  .hjfr-sun-section-img-box {background-repeat:no-repeat;background-position:center center; background-size:cover;}
  .hjfr-sun-section-img-box img {display:none !important;}

  .hjfr-oil-section-img-box {background-repeat:no-repeat;background-position:center center; background-size:cover;}
  .hjfr-oil-section-img-box img {display:none !important;}

  .hjfr-wood-section-img-box {background-repeat:no-repeat;background-position:center center; background-size:cover;}
  .hjfr-wood-section-img-box img {display:none !important;}

  /* 수처리 */
  .bussiness_info_list {position:Relative;}
  #hjfr-water-section-2 {height:auto;}
  .bns_info_list {display:block;}
  .bns_il_inner {width:100%; display:block; margin-top:30px;}
  .bns_il_cont {padding:0 0 0 100px; max-width:100%;}
  .bns_il_cont .bns_icon {width:auto; height:95px; left:-10px;}
  .bns_icon img {height:100%;}
  .bns_text_cont {font-size:14px; margin-bottom:5px;}
  .bns_text_title {font-size:18px;}
}