#hjfr-navbar-section { background-color: white; }
.hjfr-main-blank { margin-top: 2rem; margin-bottom: 2rem; }

.hjfr-group-text-color { color: white; }
.hjfr-group-text-color-green { color: #53898a; }
.hjfr-group-text-color-gray { color:#777; }
.hjfr-group-text-bold { font-weight: bold; }

.hjfr-disuse-section-img-box { margin: 0 auto; }
.hjfr-disuse-section-img { text-align: center; width: 100%; }


/* 불용자재 - disuse */
#hjfr-disuse-section-1 { background-image: url("../imgs/sub/disuse/1.jpg"); background-size: cover; }
#hjfr-disuse-text-1-1 { font-size: 2.4rem; margin-bottom: 0 !important; }
#hjfr-disuse-text-1-2 { font-size: 4.6rem; margin-bottom: 0 !important; }

#hjfr-disuse-section-2 { background-image: url("../imgs/sub/disuse/2.jpg"); background-size: cover; }
#hjfr-disuse-text-2-1 { font-size: 4rem; margin-bottom: 0 !important; }
#hjfr-disuse-text-2-2 { font-size: 2rem; margin-bottom: 0 !important; }

/* #hjfr-disuse-section-3 { margin: 0 auto; }
#hjfr-disuse-section-3 * { text-align: center; } */

#hjfr-disuse-section-4 { background-image: url("../imgs/sub/disuse/4.jpg"); background-size: cover; }
#hjfr-disuse-text-4-1 { font-size: 4rem; margin-bottom: 0 !important; }
#hjfr-disuse-text-4-2 { font-size: 2rem; margin-bottom: 0 !important; }

/* #hjfr-disuse-section-5 { margin: 0 auto; }
#hjfr-disuse-section-5 * { text-align: center; } */

#hjfr-disuse-section-6 { background-image: url("../imgs/sub/disuse/6.jpg"); background-size: cover; }
#hjfr-disuse-text-6-1 { font-size: 4rem; margin-bottom: 0 !important; }
#hjfr-disuse-text-6-2 { font-size: 2rem; margin-bottom: 0 !important; }

/* #hjfr-disuse-section-7 { margin: 0 auto; }
#hjfr-disuse-section-7 * { text-align: center; } */



/* 윤활유 - oil */
#hjfr-oil-section-1 { background-image: url("../imgs/sub/oil/1.jpg"); background-size: cover; }
#hjfr-oil-text-1-1 { font-size: 3.6rem; margin-bottom: 0 !important; }
#hjfr-oil-text-1-2 { font-size: 4.6rem; margin-bottom: 0 !important; }
#hjfr-oil-text-1-3 { font-size: 1.4rem; margin-bottom: 0 !important; }

.hjfr-oil-section-img-box { padding: 0; }
.hjfr-oil-section-img { width: 100%; margin: 0; }
.hjfr-oil-section-img-comment-wrap { position: relative; }
.hjfr-oil-section-img-comment-box { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

#hjfr-oil-text-2-1 { font-size: 2.4rem; margin-bottom: 0 !important; }
#hjfr-oil-text-2-2 { font-size: 1.4rem; margin-bottom: 0 !important; }

#hjfr-oil-section-3 { background-image: url("../imgs/sub/oil/3.jpg"); background-size: cover; }
#hjfr-oil-text-3-1 { font-size: 1.4rem; margin-bottom: 0 !important; }

#hjfr-oil-text-4-1 { font-size: 1.4rem; margin-bottom: 0 !important; }

#hjfr-oil-section-5 { background-image: url("../imgs/sub/oil/5.jpg"); background-size: cover; }
#hjfr-oil-text-5-1 { font-size: 1.4rem; margin-bottom: 0 !important; }
#hjfr-oil-text-5-2 { font-size: 1.4rem; margin-bottom: 0 !important; }



/* 목재 펠릿 - wood */
#hjfr-wood-section-1 { background-image: url("../imgs/sub/wood/1.jpg"); background-size: cover; }
#hjfr-wood-text-1-1 { font-size: 2.4rem; margin-bottom: 0 !important; }
#hjfr-wood-text-1-2 { font-size: 4.6rem; margin-bottom: 0 !important; }

.hjfr-wood-section-img-box { padding: 0; }
.hjfr-wood-section-img { width: 100%; margin: 0; }
.hjfr-wood-section-img-comment-wrap { position: relative; }
.hjfr-wood-section-img-comment-box { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

#hjfr-wood-text-2-1 { font-size: 2.4rem; margin-bottom: 0 !important; }
#hjfr-wood-text-2-2 { font-size: 1.4rem; margin-bottom: 0 !important; }

#hjfr-wood-section-3 { background-image: url("../imgs/sub/wood/3.jpg"); background-size: cover; }
#hjfr-wood-text-3-1 { font-size: 1.4rem; margin-bottom: 0 !important; }

#hjfr-wood-text-4-1 { font-size: 1.4rem; margin-bottom: 0 !important; }



/* 운송 사업 - lng */
#hjfr-lng-section-1 { background-image: url("../imgs/sub/lng/1.jpg"); background-size: cover; }
#hjfr-lng-text-1-1 { font-size: 2.4rem; margin-bottom: 0 !important; }
#hjfr-lng-text-1-2 { font-size: 4.6rem; margin-bottom: 0 !important; }

#hjfr-lng-section-2 { background-image: url("../imgs/sub/lng/2.jpg"); background-size: cover; }
#hjfr-lng-text-2-1 { font-size: 4rem; margin-bottom: 0 !important; }

.hjfr-lng-section-img-box { padding: 0; }
.hjfr-lng-section-img { width: 100%; margin: 0; }
.hjfr-lng-section-img-comment-wrap { position: relative; }
.hjfr-lng-section-img-comment-box { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

#hjfr-lng-text-3-1 { font-size: 1.4rem; margin-bottom: 0 !important; }

#hjfr-lng-text-4-1 { font-size: 1.4rem; margin-bottom: 0 !important; }

#hjfr-lng-section-5 { background-image: url("../imgs/sub/lng/5.jpg"); background-size: cover; }
#hjfr-lng-text-5-1 { font-size: 4rem; margin-bottom: 0 !important; }
#hjfr-lng-text-5-2 { font-size: 2rem; margin-bottom: 0 !important; }

#hjfr-lng-section-7 { background-image: url("../imgs/sub/lng/7.jpg"); background-size: cover; }
#hjfr-lng-text-7-1 { font-size: 4rem; margin-bottom: 0 !important; }
#hjfr-lng-text-7-2 { font-size: 2rem; margin-bottom: 0 !important; }



/* 태양광 사업 - sun */
#hjfr-sun-section-1 { background-image: url("../imgs/sub/sun/1.jpg"); background-size: cover; }
#hjfr-sun-text-1-1 { font-size: 2.4rem; margin-bottom: 0 !important; }
#hjfr-sun-text-1-2 { font-size: 4.6rem; margin-bottom: 0 !important; }

#hjfr-sun-section-2 { background-image: url("../imgs/sub/sun/2.jpg"); background-size: cover; }
#hjfr-sun-text-2-1 { font-size: 4rem; margin-bottom: 0 !important; }
#hjfr-sun-text-2-2 { font-size: 2rem; margin-bottom: 0 !important; }

.hjfr-sun-section-img-box { padding: 0; }
.hjfr-sun-section-img { width: 100%; margin: 0; }
.hjfr-sun-section-img-comment-wrap { position: relative; }
.hjfr-sun-section-img-comment-box { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

#hjfr-sun-text-3-1, 
#hjfr-sun-text-4-1, 
#hjfr-sun-text-6-1, #hjfr-sun-text-6-2, #hjfr-sun-text-6-3 { font-size: 1.4rem; margin-bottom: 0 !important; }

#hjfr-sun-section-7 { background-image: url("../imgs/sub/sun/7.jpg"); background-size: cover; }
#hjfr-sun-text-7-1 { font-size: 4rem; margin-bottom: 0 !important; }
#hjfr-sun-text-7-2 { font-size: 2rem; margin-bottom: 0 !important; }



/* 수처리 사업 - water */
#hjfr-water-section-1 { background-image: url("../imgs/sub/water/1.jpg"); background-size: cover; }
#hjfr-water-text-1-1 { font-size: 3.6rem; margin-bottom: 0 !important; }
#hjfr-water-text-1-2 { font-size: 4.6rem; margin-bottom: 0 !important; }
#hjfr-water-text-1-3 { font-size: 1.4rem; margin-bottom: 0 !important; }

#hjfr-water-section-2 { height: 16rem; }

.hjfr-water-section-img-box { padding: 0; }
.hjfr-water-section-img { width: 100%; margin: 0; }
.hjfr-water-section-img-comment-wrap { position: relative; }
.hjfr-water-section-img-comment-box { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); }

#hjfr-water-section-3 { padding: 0; }

#hjfr-water-section-4 { background-image: url("../imgs/sub/water/4.jpg"); background-size: cover; }
#hjfr-water-text-4-1 { font-size: 2rem; margin-bottom: 0 !important; }
#hjfr-water-text-4-2 { font-size: 2rem; margin-bottom: 0 !important; }
