@charset "utf-8";

.table-hover-pointer tbody tr:hover {
    cursor: pointer;
}

.page-link-dark {
    color: #343a40;
}

.page-item.active-dark .page-link {
    z-index: 3;
    color: white;
    background-color: #343a40;
    border-color: #343a40
}

.table-hover-pointer th,
.table-hover-pointer td {
    text-align: center;
    font-size:14px;
    vertical-align:middle;
}

.table .thead-dark th{
    font-size:16px;
    vertical-align:middle;
}

.notice-title {
    text-align: left !important;
}

@media screen and (max-width:720px) {
    .board_title {padding:7px 15px;}
    .table .thead-dark th {font-size:14px;}
    .thead-dark th:last-child {padding:0;}
    .page-link {padding:0.2rem .55rem;}
}

#hjfr-notice-section-1 {
    /* min-height:calc(100vh - 5em); */
    min-height:calc(100vh - 8em);
}

/**
* notice_view
*/
.board_view_area {
    margin-top: 40px;
}

.top_title_faq {
    display: table;
    width: 100%;
    overflow: hidden;
    height: 50px;
    background-color: #343a40;
    color: #fff;
}

.board_title {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 700;
}

.stit_area {
    display: flex;
    overflow: hidden;
    margin-top: 15px;
    justify-content: flex-end;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
}

[class^="stit_regist"] {
    float: left;
    position: Relative;
    padding: 0 15px 0 16px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 14px;
    color: #888;
    overflow: hidden;
}

.stit_text {
    width: 50%;
}

.stit_date {
    padding-left: 10px;
    box-sizing: border-box;
}

.view_area {
    padding: 30px 20px;
    border-bottom: 1px solid #dee2e6;
}

.view_area * {
    font-size: 20px !important;
    line-height: 32px !important;
    font-family: 'malgun gothic','맑은 고딕' !important;
}

.button_box_w {
    display: block;
    text-align: right;
}

.button_board_list {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    background-color: #343a40;
    font-weight: 700;
}