.text-color-title { color: #53898a; font-weight: bold; }
.gorup-item-content { margin-top: 10px; margin-bottom: 10px; }
.group-item-more { color: #53898a; font-weight: bold; font-size: 0.6rem; cursor: pointer; }